# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Environment Variables
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Frontend
node_modules/
dist/
build/
.next/
